@use 'src/shared/styles/functions' as functions;
//colors
$dark: #23272A;
$lessDark: #2C2F33;
$mediumDark: #393d42;
$disabledDarkCold: #6f7680; //cold
$disabledDark: #737373; //warm
$lightDark: #9f9b9b;

$violet: #945dd7;
$purple: #ea77fd;
$pastelPurple: #f5c9fd;
$white: #ffffff;

//sizes
$fontSize: 25px;
$fadeHeight: $fontSize; //1em
$wheelPadding: ($fontSize/5)*2;//0.4em
$itemPadding: $fontSize/5; //0.2em
$itemSize: $fontSize*1.15+ $itemPadding*2; //1.15em + 0.4em = 1.55em
$datePickerHeight: $itemSize*5 +$wheelPadding*2; // 1.55em*5 + 0.4em*2 = 7.75em + 0.8em = 8.55em
$wheelHeight: $itemSize*5; //1.55em*5em = 7.75em;

// font-size change STRICTLY CONTROLLED!!!
// almost all elements' sizes DEPEND ON IT
// DON'T FORGET ABOUT

.DatePicker{
  font-size: $fontSize;

  opacity: 0;
  height: 3em;
  pointer-events: none;
  user-select: none;
  line-height: 1.15;

  &.opened {
    opacity: 1;
    //height: $datePickerHeight;
    height: 8.55em;
    pointer-events: auto;
    transition:
            height 0.35s ease-in-out,
            opacity 0.2s ease;
  }

  display: grid;
  z-index: 10;
  background-color: $lessDark;
  grid-template-columns: 4fr 5fr 4fr;
  overflow: hidden;
  //padding-top: $wheelPadding;
  padding: 0.4em 1em 0;
  box-sizing: border-box;
  border-bottom: 2px solid $purple;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  .wheelContainer {
    position: relative;
    margin: 0 auto;
    width: 2.9em;
    &.fullMonthName {
      width: 5.2em;
    }
    .wheel {
      display: flex;
      flex-direction: column;
      //margin-left: 30px;
      //outline: 5px solid red;
      height: 7.75em;
      //padding-bottom: $wheelPadding;
      margin-bottom: 0.4em;

      overflow-y: scroll;
      overflow-x: hidden;
      overscroll-behavior: none;
      scroll-snap-type: y proximity;
      scroll-behavior: unset;

      //invisible scrollbar
      scrollbar-width: none; //for mozilla support
      &::-webkit-scrollbar {
        display: none;
      }

      &:before {
        content: '';
        //height: $fadeHeight;
        height: 1em;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg,
                functions.setAlpha($lessDark, 1) 0%,
                functions.setAlpha($lessDark, 0.6) 41%,
                functions.setAlpha($lessDark, 0) 100%,
        );
        pointer-events: none;
      }

      &:after {
        content: '';
        //height: $fadeHeight;
        height: 1em;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0,
                functions.setAlpha($lessDark, 1) 0%,
                functions.setAlpha($lessDark, 0.6) 41%,
                functions.setAlpha($lessDark, 0) 100%,
        );
        pointer-events: none;
      }
      .void {
        //min-height: $itemSize;
        min-height: 1.55em;
        width: 1px;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
      }
      .item {
        display: flex;
        //padding: $itemPadding 0;
        padding: 0.2em 0;
        color: $disabledDark;
        cursor: pointer;
        scroll-snap-align: start;
        scroll-snap-stop: normal;

        &.active {
          color: $white;
          font-weight: 500;
        }

        .weekDay {
          //TODO: make choice
          //color: $lightDark;
          color: $white;
          //font-size: 17px;
          font-size: 0.68em;
          //padding-left: 4px;
          padding-left: 0.24em;
        }

      }
    }
  }

  &:before {
    content: '';
    width: 100%;
    //height: $itemSize;
    height: 1.55em;
    background: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(60, 66, 70, 0.8);
    position: absolute;
    //top: $itemSize*2 + 10px;
    top: 3.5em;
    z-index: 0;

    pointer-events: none;
  }
}