@use 'src/shared/styles/functions' as functions;
// colors
$dark: #23272A;
$lessDark: #2C2F33;
$mediumDark: #393d42;
//$disabledDark: #6f7680; //cold
$disabledDark: #737373; //warm

$purple: #ea77fd;
$pastelPurple: #f5c9fd;
$violet: #945dd7;
$white: #ffffff;

// sizes
$fieldWidth: 400px;
$fontSize: 25px;
$height: 200px;
$daysGap: 10px;
$datePickerHeight: 400px;
$calendarHeight: 350px;
$daySize: 40px;


.DatePicker{
  opacity: 0;
  height: $datePickerHeight/4;
  pointer-events: none;
  user-select: none;

  &.opened {
    opacity: 1;
    height: $datePickerHeight;
    pointer-events: auto;
    transition:
            height 0.35s ease-in-out,
            opacity 0.2s ease;
  }

  z-index: 10;
  background-color: $lessDark;
  font-size: $fontSize;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 2px solid $purple;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  .MenuBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20px;
    padding: 15px;

    .monthPicker {
      display: flex;
      align-items: center;
      height: 30px;
      width: 200px;
      background-color: $dark;
      border: 2px solid $dark;
      border-radius: 10px;
      font-size: 23px;
      .month {
        display: inline-block;
        margin: 0 auto;
        .monthName:first-letter {
          text-transform: uppercase;
        }
      }
      .arrow {
        padding: 0 7px;
        margin: 0 5px;
        border-radius: 10px;
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        background-color: $lessDark;
        cursor: pointer;
        &:hover {
          background-color: $mediumDark;
        }
        &.disabled {
          pointer-events: none;
          background-color: $disabledDark;
        }
      }
    }

    .yearPicker {
      height: 30px;
      width: 70px;
      border-radius: 10px;
      background-color: $dark;
      position: absolute;

      right: 20px;
      input {
        outline: none;
        box-shadow: none;
        color: $white;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        border: none;
        text-align: center;
        font-size: 25px;
      }
    }

    &:after {
      content: '';
      height: 28px;
      width: 100%;
      position: absolute;
      z-index: 10;
      bottom: -25px;
      left: 0;

      pointer-events: none;
    }
  }

  .Calendar {
    position: relative;
    font-size: 20px;
    .head {
      position: absolute;
      width: 100%;
      height: 51px; // +1px bug
      top: -1px; // -1px bug
      left: 0;
      display: flex;
      display:none;

      z-index: 100;
      gap: $daysGap;
      justify-content: center;
      background: linear-gradient(180deg,
              functions.setAlpha($lessDark, 1) 0%,
              functions.setAlpha($lessDark, 0.8) 41%,
              functions.setAlpha($lessDark, 0) 100%
      );
      .day {
        width: $daySize;
        color: $violet;
      }
    }
    .body {
      height: $calendarHeight;
      outline: 10px solid darkred;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $daysGap;

      overflow-y: scroll;

      // hide scrollbar
      scrollbar-width: none; //for mozilla support
      &::-webkit-scrollbar { //for other
        display: none;
      }

      overflow-scrolling: touch;
      overscroll-behavior: none;
      scroll-snap-type: y mandatory;

      .prevYearContainer, .nextYearContainer{
        .year {
          height: $calendarHeight;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .value {
            font-size: 150px;
          }
        }
      }

      .week {
        display: flex;
        gap: $daysGap;
        scroll-snap-stop: normal;
        //scroll-margin-top: 30px;
        &.scrollSnapTarget {
          scroll-snap-align: start;
          background-color: red;
        }
        &.prevYearWeeksPreload {
          scroll-snap-align: unset;
          &:nth-child(2) {
            scroll-snap-align: start;
          }
        }

        .day{
          height: $daySize;
          width: $daySize;
          box-sizing: border-box;

          //background-color: #2c3134;
          background-color: $mediumDark;
          //color: #a4a1a1;
          color: $disabledDark;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            border: 1px solid $white;
          }
          &.current {
            //border: 2px solid $purple;
            box-shadow: 0 0 10px 1px $pastelPurple;
          }
          &.ofCurrentMonth {
            background-color: $dark;
            color: $white;
          }
          .value{

          }
        }
      }
    }

    &:after {
      content: '';
      height: $daySize;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      //background: linear-gradient(0, rgba(44,47,51,1) 0%, rgba(44,47,51,0.6) 41%, rgba(44,47,51,0) 100%);
      background: linear-gradient(0,
              functions.setAlpha($lessDark, 1) 0%,
              functions.setAlpha($lessDark, 0.6) 41%,
              functions.setAlpha($lessDark, 0) 100%
      );
      pointer-events: none;
    }
  }
}