//dark theme
$dark: #23272A;
$lessDark: #2C2F33;
$mediumDark: #393d42;
$disabledDarkCold: #6f7680; //cold
$disabledDark: #737373; //warm
$lightDark: #9f9b9b;

$violet: #945dd7;
$purple: #ea77fd;
$pastelPurple: #f5c9fd;
$white: #ffffff;