// colors
$dark: #23272A;
$lessDark: #2C2F33;
$mediumDark: #393d42;
$disabledDark: #6f7680;

$violet: #945dd7;
$purple: #ea77fd;
$pastelPurple: #f5c9fd;
$white: #ffffff;

//sizes
$dateFieldWidth: 400px;
$dateFieldHeight: 60px;
$inputFontSize: $dateFieldHeight/2; // $dateFieldHeight/2
$inputPaddingLeft: 5%; // $dateFieldWidth/8
$iconSize: 67%; //($dateFieldHeight/3)*2

.DateField {
  position: relative;
  //width: $dateFieldWidth;
  //height: $dateFieldHeight;
  //font-size: $inputFontSize;

  .Input {
    box-sizing: border-box;
    border: $white 2px solid;
    border-radius: 3px;

    width: 100%;
    height: inherit;
    padding-left: $inputPaddingLeft;

    font-size: inherit;
    color: $white;
    outline: none;

    &:focus {
      box-shadow: 0 0 10px 1px $pastelPurple;
      border-color: $purple;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    }
  }

  .icon {
    height: $iconSize;

    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translateY(-50%);
    filter: invert(1);

    &:hover {
      filter: invert(0.7);
      transition: filter 0.17s ease-in-out;
    }
  }

  .DatePicker {
    position: absolute;
    width: 100%;
  }
}
