@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// colors
$dark: #23272A;
$lessDark: #2C2F33;
$mediumDark: #393d42;
$disabledDark: #6f7680;

$violet: #945dd7;
$purple: #ea77fd;
$pastelPurple: #f5c9fd;
$white: #ffffff;

body {
  font-family: 'Roboto', sans-serif;
  background-color:	#23272A;
  color: white;
  input {
    background-color: #23272A;
  }

  overflow-x: hidden;
  height: 1800px;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  margin-top: 50px;
  .options {
    display: flex;
    align-items: center;
    gap: 20px;
    .size {
      position: relative;

      legend {
        font-size: 0.8rem;
        position: absolute;
        left: 50%;
        top: 0;
        padding: 0 5px;
        transform: translate(-50%, -50%);
        background-color: $dark;
      }
      input {
        border: $white 2px solid;
        border-radius: 3px;
        outline: none;
        color: $white;
        height: 30px;
        width: 60px;
        text-align: center;
        &:focus {
          //box-shadow: 0 0 10px 1px $pastelPurple;
          border-color: $purple;
          transition: border-color 0.15s ease-in-out;

          &~legend {
            color: $purple;
            transition: color 0.15s ease-in-out;
          }
        }
      }
    }
    .visibility {
      display: flex;
      gap: 5px;
      input {
        background-color: $pastelPurple;
      }
    }
  }
  h1 {
    margin-top: 100px;
    padding-bottom: 5px;
    border-bottom: 2px solid #945dd7;
  }

  .mark {
    display: flex;
    align-items: center;
    justify-content: left;
    //float: left;
    .type {
      background-color: $mediumDark;
      border: 3px solid $lessDark;
      border-radius: 10px;
      padding: 8px;
      font-weight: 600;
    }
    .addition {
      color: #858f9d;
    }
    padding-top: 50px;
  }
}